name = "image-edge-esa"
main = "src/worker.ts"
compatibility_date = "2025-12-29"

[assets]
directory = "./public"
binding = "ASSETS"

[vars]
# IMAGE_URLS (optional) overrides generated defaults, e.g. "https://example.com/1.webp,https://example.com/2.webp"

CORS_ALLOW_ORIGIN = "*"
[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1